<h1>My tasks</h1>

<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
          <i class="fa fa-check-square-o"></i>
        <% else %>
          <i class="fa fa-square-o"></i>
      <% end %>

      <%= link_to task.title, task_path(task) %>

      <%= link_to task_path(task) , method: :delete, data: { confirm: "Delete #{task.title}?" } do %> -
      <i class="fa fa-trash-o" aria-hidden="true"></i> -
      <% end %>

      <%= link_to edit_task_path(task) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to new_task_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>
